.page-title {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 1.7rem;
}

/* mobile menu */
.header__mobile-menu {
  width: 25px;
  display: none;
}

.header__mobile-menu:hover {
  cursor: pointer;
}

.header__mobile-menu-img {
  width: 100%;
}

.mobile-menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 1.1rem;
  background-color: var(--color-bg-mobile-menu);
  z-index: 100;
  scroll-behavior: unset;
}

.mobile-menu__item {
  position: relative;
  height: 2.8rem;
  font-size: 2rem;
  color: var(--color-primary);
  z-index: 200;
}

.header__navigation-item {
  position: relative;
  height: 1.35rem;
}

.mobile-menu__item-link,
.menu__item-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
}

.mobile-menu__item-link-text,
.menu__item-link-text {
  display: block;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.mobile-menu_exit-wrapper {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}

.mobile-menu__exit {
  width: 25px;
  height: 25px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mobile-menu__exit::before,
.mobile-menu__exit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--color-primary);
}

.mobile-menu__exit::before {
  transform: rotate(45deg);
}

.mobile-menu__exit::after {
  transform: rotate(-45deg);
}

.mobile-menu {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* hero */
.hero__title-scroll-btn {
  font-family: var(--font-family-secondary);
  font-size: clamp(14px, 1vw, 1rem);
  border: 0;
  background: transparent;
}

.hero__title-scroll-btn:focus {
  outline: none;
}

.hero__title-scroll-img {
  width: clamp(10px, 1vw, 1rem);
}

/* subtitle */
.subtitle {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 14px, 1rem);
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 2px;
  margin-right: 1.8rem;
  background-color: var(--color-secondary);
}

/* content */
.content__item-text {
  position: relative;
  max-width: 35.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto 0;
  margin-left: 8.3rem;
}

.content__item-img {
  width: 100%;
}

.content__text-num {
  position: absolute;
  left: -8.3rem;
  top: -9rem;
  font-family: var(--font-family-secondary);
  font-size: 13.3rem;
  font-weight: 700;
  letter-spacing: 0;
  opacity: 10%;
}

.content__text-title {
  font-family: var(--font-family-primary);
  font-size: clamp(1rem, 4vw, 3.6rem);
  font-weight: 600;
  line-height: 100%;
}

.content__text-description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.content__text-btn {
  display: flex;
  gap: 0.2rem;
  font-size: 1rem;
  align-items: center;
  border: 0;
  background: transparent;
}

.content__text-btn-text {
  padding: 0.28rem 0.6rem;
  border-radius: 0.5rem;
  color: var(--color-secondary);
  transition: all 0.1s ease;
}

.content__text-btn-arrow {
  transition: transform 0.2s ease;
}

.content__text-btn:hover .content__text-btn-text {
  background-color: var(--color-secondary);
  color: black;
}

.content__text-btn:hover .content__text-btn-arrow {
  transform: translateX(5px);
}

.content__text-btn:focus {
  outline: none;
}

/* footer */
.footer__more-item-title {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--color-secondary);
  margin-bottom: 1.3rem;
}

.footer__more-item-nav {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.9rem;
}

.more-item-nav__link {
  transition: all 0.1s ease;
}

.more-item-nav__link:hover {
  color: var(--color-secondary);
}

/* media */
@media (max-width: 768px) {
  .header__mobile-menu {
    display: block;
  }

  .subtitle {
    font-size: 14px;
    align-self: center;
  }

  .subtitle::before {
    content: "";
    display: none;
  }

  .content__item-text {
    gap: 1rem;
    text-align: center;
    margin-left: 0;
  }

  .content__text-num {
    left: -1rem;
    top: -3rem;
    font-size: 2rem;
  }

  .content__text-description {
    font-size: 14px;
    line-height: 1.5;
  }

  .content__text-btn {
    font-size: 14px;
  }

  .content__text-btn-arrow {
    width: 16px;
  }

  .content__item-img {
    display: none;
  }

  .footer__more-item-title {
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 1.3rem;
  }

  .footer__more-item-nav {
    font-size: 14px;
    gap: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .content__item {
    justify-content: center;
  }

  .content__item-img {
    position: absolute;
    left: -50px;
    opacity: 50%;
    width: 250px;
  }
}
