html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family-secondary);
  font-weight: 100;
  background: var(--color-bg) url("../assets/images/hero-bg.jpg") no-repeat 50%
    0;
  color: var(--color-primary);
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 3.5rem 4.4rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.header__navigation {
  display: flex;
  gap: 2.2rem;
}

.header__right-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.3rem;
}

.header__account {
  font-size: 0.9rem;
}

.header__account-icon {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}

/* main */
.main {
  margin: 9.4rem 0 11rem 0;
}

/* hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 46.83rem;
}

.hero__follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero__follow-us-text {
  font-size: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.hero__follow-us-icon {
  width: 1.1rem;
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-left: 3.3rem;
}

.hero__title-md {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.hero__title-md::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 2px;
  margin-right: 1.8rem;
  background-color: var(--color-secondary);
}

.hero__title-xl {
  font-family: var(--font-family-primary);
  font-size: clamp(1.5rem, 4vw, 4.9rem);
  max-width: 52.8rem;
  line-height: 5.6rem;
}

.hero__title-scroll {
  display: flex;
  gap: 16px;
  align-items: center;
}

.hero__steps {
  display: flex;
  flex-direction: column;
}

.hero__steps-item {
  text-align: right;
  padding: 1.1rem 1.8rem;
  border-right: 0.17rem solid rgba(255, 255, 255, 0.5);
}

.hero__steps-item_active {
  border-right: 0.17rem solid var(--color-primary);
}

/* content */
.content,
.footer {
  max-width: 81.22rem;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 11.1rem;
}

.content__item {
  position: relative;
  display: flex;
  gap: 6.3rem;
  width: 100%;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer__info-text,
.footer__info-copyright {
  font-size: 1rem;
  line-height: 1.8rem;
}

.footer__info-text {
  max-width: 16.83rem;
  margin: 1.3rem 0 6.8rem 0;
}

.footer__info-copyright {
  opacity: 0.5;
}

.footer__more {
  display: flex;
  gap: 11.2rem;
  max-width: 31.44rem;
}

/* media */
@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  .main {
    margin: 4.4rem 0 4rem 0;
  }

  .content {
    gap: 6rem;
  }

  .header__navigation {
    display: none;
  }

  .hero {
    gap: 2rem;
  }

  .hero__title-md {
    font-size: 0.7rem;
  }

  .hero__title-scroll {
    align-self: center;
  }

  .hero__title-scroll-img {
    width: 1rem;
  }

  .footer__more {
    justify-content: space-between;
    gap: 0;
  }

  .footer__info-text {
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    margin: 1rem 0 2rem 0;
  }

  .footer__info-copyright {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hero {
    height: 100vh;
    margin-bottom: 0;
  }

  .content__text-btn {
    align-self: flex-end;
  }
}

@media (max-width: 1200px) {
  body {
    background-image: none;
  }

  .container {
    width: 100%;
  }

  .hero {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10rem;
  }

  .hero__follow-us {
    flex-direction: row;
    align-self: flex-start;
    gap: 15px;
  }

  .hero__title-xl {
    width: 100%;
    text-align: center;
    line-height: 1.6;
  }

  .hero__follow-us-text {
    writing-mode: horizontal-tb;
  }

  .hero__steps {
    display: none;
  }

  .footer {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__info {
    order: 2;
  }

  .footer__more {
    justify-content: flex-start;
    gap: 5rem;
    order: 1;
  }
}

@media (max-width: 1440px) {
  .hero__title {
    margin-left: 0;
  }
}
